<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateSchoolAndMajorServlet</servlet-name>
        <servlet-class>servlets.GenerateSchoolAndMajorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBuddiesServlet</servlet-name>
        <servlet-class>servlets.GetBuddiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSettingsServlet</servlet-name>
        <servlet-class>servlets.StudentSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorSettingsServlet</servlet-name>
        <servlet-class>servlets.ProfessorSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvgNoteServlet</servlet-name>
        <servlet-class>servlets.AvgNoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentAverageServlet</servlet-name>
        <servlet-class>servlets.DepartmentAverageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteServlet</servlet-name>
        <servlet-class>servlets.GetNoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuddyCoursesServlet</servlet-name>
        <servlet-class>servlets.BuddyCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurCoursesServlet</servlet-name>
        <servlet-class>servlets.CurCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentCoursesServlet</servlet-name>
        <servlet-class>servlets.GetStudentCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNotesServlet</servlet-name>
        <servlet-class>servlets.ListCourseProfessorIsTeachingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolNoBuddiesServlet</servlet-name>
        <servlet-class>servlets.SchoolNoBuddiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourseProfessorIsTeachingServlet</servlet-name>
        <servlet-class>servlets.ListCourseProfessorIsTeachingServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>RemoveUserSearchServlet</servlet-name>
        <servlet-class>servlets.RemoveUserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>servlets.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionToBankServlet</servlet-name>
        <servlet-class>servlets.AddQuestionToBankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionToBank</servlet-name>
        <servlet-class>servlets.AddQuestionToBank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListQuestionBankServlet</servlet-name>
        <servlet-class>servlets.ListQuestionBankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBuddySearchServlet</servlet-name>
        <servlet-class>servlets.AddBuddySearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserSearchServlet</servlet-name>
        <servlet-class>servlets.AddUserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToAdd</servlet-name>
        <servlet-class>servlets.RedirectToAdd</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlets.AddUserServlet</servlet-class>
    </servlet>
    
    
    
    
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListQuestionBankServlet</servlet-name>
        <url-pattern>/ListQuestionBankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionToBank</servlet-name>
        <url-pattern>/AddQuestionToBank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionToBankServlet</servlet-name>
        <url-pattern>/AddQuestionToBankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/RemoveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserSearchServlet</servlet-name>
        <url-pattern>/RemoveUserSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCourseProfessorIsTeachingServlet</servlet-name>
        <url-pattern>/ListCourseProfessorIsTeachingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolNoBuddiesServlet</servlet-name>
        <url-pattern>/SchoolNoBuddiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNotesServlet</servlet-name>
        <url-pattern>/ListNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentCoursesServlet</servlet-name>
        <url-pattern>/GetStudentCoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurCoursesServlet</servlet-name>
        <url-pattern>/CurCoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuddyCoursesServlet</servlet-name>
        <url-pattern>/BuddyCoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteServlet</servlet-name>
        <url-pattern>/GetNoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentAverageServlet</servlet-name>
        <url-pattern>/DepartmentAverageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvgNoteServlet</servlet-name>
        <url-pattern>/AvgNoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateSchoolAndMajorServlet</servlet-name>
        <url-pattern>/GenerateSchoolAndMajorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBuddiesServlet</servlet-name>
        <url-pattern>/GetBuddiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSettingsServlet</servlet-name>
        <url-pattern>/StudentSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorSettingsServlet</servlet-name>
        <url-pattern>/ProfessorSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBuddySearchServlet</servlet-name>
        <url-pattern>/AddBuddySearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserSearchServlet</servlet-name>
        <url-pattern>/AddUserSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToAdd</servlet-name>
        <url-pattern>/RedirectToAdd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    
    </web-app>
